body{
    margin:0;
    padding:0;
}
.header{
    width:100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: blue;
    color: white;
    
}
.border-top {
    border-style: solid;
    width: 100%;
    background-color:rgb(255, 255, 255);
    color:black;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 15px 0;
    font-family: Arial, sans-serif;
}
.border-top h2{
font-weight: 200;
font-style: italic;
}

/* .heading{
    font-size: x-large;
    font-style: normal;
    font-style: bold;
} */
/* .heading{
    color:white;
    font-size:x-large ;
font-style: normal;
font-style: bold;
}
.city-name{
    color: black;
    font-size: larger;
    font-style: bold;
}
.button{
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
/* . */